<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="tabs-card">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `tabs-card`
     * &#39;Elemento de tabs&#39;
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TabsCard extends Polymer.Element {
      static get is() { return 'tabs-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'tabs-card'
          }
        };
      }
    }

    window.customElements.define(TabsCard.is, TabsCard);
  </script>
</dom-module>
