<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="tabs-card">
  <template>
    <style>
      :host {
        display: block;
        margin: 0;
      }
      .container{
        display: grid;
        grid-template:  1fr 5fr / 1fr 1fr 1fr;
        height: 100%;
        width: 100%;
        grid-template-areas: "tabUno tabDos tabTres" 
                             "information information information";
        justify-content: center;
        align-content: center;
      }
      .information{
        grid-area: information;
        background: #dadada;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


      }
      .tabUno, .tabDos, .tabTres{
        font-weight: bold;
        font-size: 2em;
      }
      
      input{
        background-color: gray;
        border:2px black solid;
      }
      input:hover{
        background-color: rgba(128,128,128,.5);
      }
    </style>


    <!-- <h2>Hello [[prop1]]!</h2> -->

  <article class="infoData">
    <section class="container">
      <input type="button" name="" value="Tab1" class="tabUno">
      <input type="button" name="" value="Tab2" class="tabDos">
      <input type="button" name="" value="Tab3" class="tabTres">  
      <div class="information">         
      </div>
    </section>
 </article>


  </template>

  <script>
    /**
     * `tabs-card`
     * &#39;Elemento de tabs&#39;
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TabsCard extends Polymer.Element {
      static get is() { return 'tabs-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'tabs-card'
          }
        };
      }
    }

    window.customElements.define(TabsCard.is, TabsCard);
  </script>
</dom-module>
